body {
	margin: 0;
	padding: 0;
	background-color: white;
	/*   height: 150vh; */
}

#funds .container #funds-row #funds-column #funds-box {
	margin-top: 120px;
	max-width: 600px;
	height: 360px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
	background-color: white;
}

#funds .container #funds-row #funds-column #funds-box #funds-form {
	padding: 20px;
}

.pd-l{
	padding-left: 30px;
}